<div class="container-fluid">
	<nav class="graph-nav navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">INTERVAL:</span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li class="active"><a href="" ng-click="getHistoricalData({event:$event})">YEAR</a></li>
            <li><a href="" ng-click="getHistoricalData({period:'month', event:$event})">MONTH</a></li>
            <li><a href="" ng-click="getHistoricalData({period:'week', event:$event})">WEEK</a></li>
            <li><a href="" ng-click="getQuotes({event:$event})">TODAY</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

	
	<div id="chart" class="col-sm-10">
		<svg style="height:500px"></svg>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2" style="min-height:150px" ng-repeat="idx in ys.indeces">
			<div class="click panel" ng-click="getQuote(idx.symbol, $event)">
				<div class="front">
				<h4>{{idx.name}}</h4>
				<!-- <p>{{idx.startVal}}</p>
				<p>{{idx.endVal}}</p> -->
				<p ng-class="{ 'increase' : ys.periodData[period].deltas[idx.symbol] > 0, 'decrease' : ys.periodData[period].deltas[idx.symbol] < 0  }">{{ys.periodData[period].deltas[idx.symbol]}}%</p>
				</div>
				<div class="back">
					<div class="quote">
						Symbol: <strong>{{quote.Symbol}}</strong><br>
						Name: <strong>{{quote.Name}}</strong><br>
						Stock Exchange: <strong>{{quote.StockExchange}}</strong><br>
						Average Daily Volume : <strong>{{quote.AverageDailyVolume}}</strong><br>
						Change : <strong>{{quote.Change}}</strong><br>
						Volume: <strong>{{quote.Volume}}</strong><br>
						Year High: <strong>{{quote.YearHigh}}</strong><br>
						Year Low: <strong>{{quote.YearLow}}</strong><br>
						Days High: <strong>{{quote.DaysHigh}}</strong><br>
						Days Low: <strong>{{quote.DaysLow}}</strong><br>
						Days Range: <strong>{{quote.DaysRange}}</strong><br>
						Last Trade Price Only: <strong>{{quote.LastTradePriceOnly}}</strong><br>
						Market Capitalization: <strong>{{quote.MarketCapitalization}}</strong><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
